<ul class="nav-menus nav-menus-map clearfix">
  <li <% if @title == "首页" %> class="active" <% end %>>
    <%= link_to '', city_index_questions_path, :class => "city" %>
  </li>
  <li <% if @title == "留言" %> class="active" <% end %>>
    <%= link_to '', message_questions_path, :class => "message" %>
  </li>
  <li <% if @title == "介绍" %> class="active" <% end %>>
    <%= link_to '', "#{introduce_questions_path}#start", :class => "intro" %>
  </li>
</ul>