* { font-family:"微软雅黑","宋体",Arial, Verdana, sans-serif; font-size:100%; text-decoration:none; text-indent:0; }
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, pre, blockquote, fieldset, form, abbr { margin:0; padding:0; }
ul, ol, dl, dt, dd, li { list-style:none outside none; }
img, fieldset { border:0 none; }
img { vertical-align:bottom;}
body { background:#001827;}
a{color:white;text-decoration:underline}
.clear{clear:both}
.top_logo{
	margin:0 auto;
	height:61px;
	width:97%;
	border-bottom:1px solid white;
	position:relative;
}
.top_logo img{
	position:absolute;

}
.container{
	width:100%;
	padding:10px 12px;
	font-size:1em;
	color:white;
}
.row_img{
	width:100%;
	text-align:center;
}
.row_img img{
	display:block;
	margin:0 auto;
	margin-bottom:7px;
}
.buttom_text{
	font-size:0.8em;
	color:white;
	margin-left:12px;	
}
.buttom_line{
	margin:8px auto;
	height:61px;
	text-align:right;
	width:97%;
	border-top:1px solid white;
	font-size:0.8em;
	color:white;
}
.detail_mid{
	background:url(../img/mobile_bg.png);	
	width:228px;
	height:469px;
	padding:20px;
	margin:10px auto;
	font-size:0.8em;
	overflow:auto;
}
.pink_border{
	border:2px solid #df007f;	
}
.mb_pop_box{
	background:url(../img/mobile_bg.png);	
	width:228px;
	height:469px;
	padding:20px;
	font-size:0.8em;
	position:relative;
	margin:20px auto 80px;
	z-index:3;
}
.mb_pop_box2{
	background:url(images/post-bg.png);	
	width:228px;
	height:469px;
	padding:20px;
	font-size:0.8em;
	position:relative;
	margin:20px auto 80px;
	z-index:3;
	background-size: 100% auto;
}

#step2_info{
	margin-top:20px;	
}
#step2_info p{
	background:url(../img/input_bg.jpg) repeat-x;
	height:30px;
	font-size:18px;
	color:#001e30;
	font-style:italic;
	border:none;	
	line-height:28px;
	display:block;
	float:left;
}
#step2_info input{
	background:url(../img/input_bg.jpg) repeat-x;
	width:130px;
	height:28px;
	margin-left:2px;
	+margin-left:0px;
	font-size:18px;
	color:#001e30;
	font-style:italic;
	border:none;	
	line-height:28px;
	display:block;
	float:left;
}
#step2_info textarea{
	background:url(../img/textarea_bg.jpg) repeat;
	width:222px;
	height:238px;
	font-size:18px;
	color:#001e30;
	font-style:italic;
	border:none;
	resize:none;	
	line-height:42px;
	margin:12px 0 22px 0;
	display:block;
	overflow:auto;
}
.step_change{
	float:left;
	background:url(../img/choose_bg.png);
	width:76px;
	height:38px;
	text-align:center;
	line-height:38px;
	margin:10px 20px 0 0;
	cursor:pointer;
	color:white;
}
.info_area{
	margin:20px auto 5px;
	width:288px;
	color:white;
}
.info_area h2{
	font-size:0.8em;
	font-weight:normal;	
}
.info_area label{
	display:block;	
	margin:10px 0;
	font-size:0.8em;
}
.info_area input{
	width:280px;
	padding-left:2px;
	height:24px;
	line-height:24px;
	border:1px solid white;
	background:#3c3c3c;	
	color:white;
	font-size:0.8em;
}
.info_area textarea{
	width:280px;
	padding-left:2px;
	line-height:24px;
	border:1px solid white;
	background:#3c3c3c;	
	color:white;
	font-size:0.8em;
}
.send_mail{
	background:url(../img/choose_bg.png);
	width:76px;
	height:38px;
	text-align:center;
	line-height:38px;
	margin:26px auto;
	color:white;
	cursor:pointer;
}
.step3_box{
	background:url(../img/mobile_bg.png);	
	width:228px;
	height:469px;
	padding:20px;
	font-size:0.8em;
	position:relative;
	margin:20px auto 30px;
	z-index:3;
}
.step3_box p{
	background:url(../img/textarea_bg.jpg) repeat;
	line-height:40px;
	font-style:italic;
	width:210px;
}
.step3_box p span{
	color:#e844a1;	
}
.step_finish{
	background:url(../img/choose_bg.png);
	width:76px;
	height:38px;
	text-align:center;
	line-height:38px;
	margin:26px auto;
	color:white;
	cursor:pointer;
}
.share_logo{
	margin-left:26px;	
}
.share_logo img{
	margin-right:15px;	
}